.container {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 10;
  background-color: #fff;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1024px;
  height: 5rem;
  margin: auto;
  padding: 0 2rem;
}
